<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <!-- <h3 class="section-subheading text-muted">Send me an email</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-center">
                    <span><i class="fas fa-map-marker-alt"></i> Chelles, France</span>
                    <span><i class="fas fa-at"></i> mteaudors@outlook.com</span>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <a href="mailto:mteaudors@outlook.com" class="btn btn-xl">Send me an email</a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </section>
