<!-- Services Section -->
    <section id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Presentation</h2>
                    <h3 class="section-subheading text-muted">Who am I ?</h3>
                </div>
            </div>
            
            <div class="raw text-center">
                <div class="col-md-6">
                    <p>
                        Fond of mathematics and computer science, I am currently a final-year student at Sorbonne University, Paris. I learn a lot about modern and quantum-safe cryptography, side channel attacks along with their countermeasures and high performance computing.
                        I place <strong>cryptography</strong> in the core of my intests and I aim to continue with a PhD in this domain.  
                    </p>
                    <p>
                        What else do I like ? A lot of scientific realm get my attention and I dedicate some of my free time to read about physics, psychology, history, self-development, and many more interesting topics ... 
                    </p>
                </div>
                <div class="col-md-6">
                   <img id="profile-picture" src="img/profile.png" class="img-responsive" alt="">
                </div>

            </div>
        </div>
    </section>