<!-- Services Section -->
    <section id="reading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reading</h2>
                    <h3 class="section-subheading text-muted">My top 3 must-read</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/thinking-fast-and-slow.jpg" class="img-responsive img-book" alt="">
                    <h4 class="service-heading">Thinking fast and slow</h4>
                    <p>Daniel Kahneman</p>
                </div>
                <div class="col-md-4">
                    <img src="img/jobs.jpg" class="img-responsive img-book" alt="">
                    <h4 class="service-heading">Steve Jobs</h4>
                    <p>Walter Isaacson</p>
                </div>
                <div class="col-md-4">
                    <img src="img/man's-search-for-meaning.jpg" class="img-responsive img-book" alt="">
                    <h4 class="service-heading">Man's search for meaning</h4>
                    <p>Viktor Frankl</p>
                </div>
            </div>
        </div>
    </section>